<Router AppAssembly="@typeof(InspectorApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Components.InspectorLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Components.InspectorLayout)">
            <div style="padding: 1rem;">Inspector route not found.</div>
        </LayoutView>
    </NotFound>
</Router>
