@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(CopilotModalApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(CopilotModalLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(CopilotModalLayout)">
            <p>Copilot is loading...</p>
        </LayoutView>
    </NotFound>
</Router>
